<p> Order Date: <%= @order.created_at %> </p>
<% if @order.order_status == "cancelled" || @order.order_status == "completed" %>
  <p> Last Updated: <%= @order.updated_at %> </p>
  <p> Order Status: <%= @order.order_status %> </p>
<% end %>
<p> Order Total: <%= number_to_currency(@total) %> </p>
