<h1>Past Orders</h1>

<% if @orders.length == 0 %>
  <h3>No previous orders</h3>
<% else %>
  <% @orders.each do |order| %>
  <ul>
    <li>Order #: <%= link_to order.id, user_order_path(current_user, order) %> </li>
    <li>Ordered on: <%= order.created_at %></li>
  </ul>
    <% end %>
<% end %>
