<div class="container-fluid text-center">
  <h1>Past Orders</h1>
</div>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>All Previous Orders</h2>
    </div>
    <% if @orders.length == 0 %>
      <h3>No previous orders</h3>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th>Order #</th>
            <th>Ordered On</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @orders.each do |order| %>
            <td>
              <%= link_to order.id, user_order_path(current_user, order) %>
            </td>
            <td>
              <%= order.created_at %>
            </td>
            <td>
              <%= order.order_status %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
