<ol class="breadcrumb">
  <li><a><%= link_to "Home", root_path %></a></li>
  <li class="active">Styles</li>
</ol>
<h1>All Styles</h1>

<h2>
<div class="row col-sm-3" id="style-index">
  <% @styles.each do |style| %>
    <%= link_to style.name, "/#{style.slug}", class: "style_link" %><br>
  <% end %>
  </div>
</h2>
