<ol class="breadcrumb">
  <li><a><%= link_to "Home", root_path %></a></li>
  <li class="active">Styles</li>
</ol>
<h1>All Styles</h1>


<div class="row" id="style-index">
  <% @styles.each do |style| %>
  <div class="col-sm-3">
    <%= link_to style.name, "/#{style.slug}" %>
  <% end %>
  </div>
</div>
