<ol class="breadcrumb">
  <li><a><%= link_to "Home", root_path %></a></li>
  <li class="active"><%= @style.name %></li>
</ol>

<h1>Styles Show Page</h1>

<div class="style-beers-show"<% @beers.each do |beer| %>
  <li><%= beer.name %></li>
<% end %>
</div>
