<h1>All Beers</h1>

<ul>
  <% @beers.each do |beer| %>
    <li>
      <%= link_to beer.name, beer_path(beer) %> ($<%= beer.price %>)
    </li>
    <%= button_to "Add to Cart", cart_path(beer_id: beer.id), class: "btn btn-primary" %>

  <% end %>
</ul>
